/*headers*/
h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
	color: #00739F;
}
/*page conatainer*/
.container{
	margin-bottom:30px;
}
/*primary buttons in page*/
.btn-primary{
	background: #FD7400;
	border: none; 
}
/*primary buttonson hover*/
.btn-primary:hover{
	background: #96CA2D;
	border: none; 
}
/*verticle button groups*/
.btn-group-vertical{
	width: 100%;
}
/*************INDEX.HTML***************************/
/*top sections*/
.sec{
	height: 400px;
	padding: 10px;
}
/*img in top sections*/
.sec img{
	margin-top: 20px;
}
/*paragraphs in top sections*/
.sec p{
	margin-top:30px;
}
/*button in section*/
.sec a{
	margin-top: 30px;
	width: 100%;
}
/*main article*/
#mainSec{
	margin-top:70px;
}
/*button group*/
#btnGrp{
	margin-top: 60px;
}
/*wire geeks section*/
#wgSec{
	margin-top: 70px;
}
/*thumbnail section in WireGeeks section*/
#wgTN{
	height: 270px;
	padding: 15px;
}
/*button in wgTN*/
#wgTN a{
	margin-top: 50px;
	width: 100%;
}
/*Nerd Section*/
#nerdSec{
	margin-top: 70px;
}
/*image in nerd section*/
#nerdSec img{
	margin-top:70px;
}

/************************************GALLERY.HTML************************************/
/*thumbnail galleries*/
.gal .thumbnail{
	height: 1050px;
	padding: 10px;
}
/*headers*/
.gal h4{
	color: #FD7400;
}
/*thumbnail images*/
.gal img{
	margin-bottom: 40px;
}
/*logos*/
#logos img{
	margin-bottom: 100px;
}
/*desktop title*/
#dt{
	color: #FD7400;
}

/****************************************SMM.HTML*************************************************/
/*accordion tabs*/
#accordion .panel-heading{
	 background: #FD7400;
	 height: 80px;
}
/*hover over tabs*/
#accordion .panel-heading:hover{
 	background: #96CA2D;
}
/*a link in accordion header*/
#accordion .panel-heading a{
	color: white;
	font-size: 1.5em;
}
/*accordion body*/
#accordion .panel-body{
	padding: 20px;
}
/*button in accoridion*/
#accordion .panel-body a{
	background: #96CA2D;
}
/*hover over accordion*/
#accordion .panel-body a:hover{
	background: #FD7400;
}
/*thumbnail in accordion 1*/
.tn1{
	padding: 20px;
}
/*thumbnail in accordion 1 button*/
.tn1 a{
	margin-top: 20px;
	width:100%;
}
/*thumbnail in accordion 2*/
.tn2{
	padding: 20px;
}
/*thumbnail in accordion 2 button*/
.tn2 a{
	margin-top: 20px;
	margin-bottom: 20px;
	width:100%;
}
/*section 3 in accordion*/
.tn3{
	padding: 20px;
	height: 600px;
}
/*thumbnail in accordion 3 button*/
.tn3 a{
	margin-top: 20px;
	margin-bottom: 20px;
	width:100%;
}
/*********************WEBSITES.HTML********************/
/*tab panels*/
.tab-pane{
	padding: 20px;
}
/*tab body subtitle*/
.tab-pane h4{
	margin-top: 50px
}
/*tab body p*/
.tab-pane p{
	margin-top: 50px
}
/*list of buttons*/
#btnList{
	margin-top: 50px;
}
/**/
#js1{
	margin-top: 80px;
}
#jsF a{
	margin-top: 40px;
}