/*form title*/
h3{
	text-align: center;
	margin-bottom: 30px;
}
/*text labels for inputs*/
label{
	color: #53324F;
}
/*all input text boxes and dropdowns*/
input[type="text"],input[type="email"],input[type="tel"],select,textarea{
	margin-bottom: 30px;

	-webkit-box-shadow: 7px 7px 5px #9B9B9E;
	-moz-box-shadow: 7px 7px 7px #9B9B9E;
	-o-box-shadow: 7px 7px 7px #9B9B9E;
	-ms-box-shadow: 7px 7px 7px #9B9B9E;
	box-shadow: 7px 7px 7px #9B9B9E;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;

	background: #FBFBFC;
	background: -webkit-linear-gradient(#FBFBFC, #ECECF2);
	background: -moz-linear-gradient(#FBFBFC, #ECECF2);
	background: -o-linear-gradient(#FBFBFC, #ECECF2);
	background: -ms-linear-gradient(#FBFBFC, #ECECF2);
	background: linear-gradient(#FBFBFC, #ECECF2);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFBFC', endColorstr='#ECECF2',GradientType=0 );

	-o-transition-property:border;
	-moz-transition-property:border;
	-webkit-transition-property:border;
	transition-property:border;

	-moz-transition-duration:1.5s;
	-o-transition-duration:1.5s;
	-webkit-transition-duration:1.5s;
	transition-duration:1.5s;

	outline: none;
}
/*hover over inputs*/
input[type="text"]:hover,input[type="email"]:hover,input[type="tel"]:hover,select:hover,textarea:hover{
	border: 2px solid #53324F;
}
/*radio and checkbox*/
input[type="checkbox"], input[type="radio"] {
margin-bottom: 30px;
cursor: pointer;
}
/*hover over radio and checkbox*/
.opt:hover{
	color: #668D6E;
}
/*drop down box*/
select{
	cursor: pointer;
}
/*footer*/
footer{
	border: none;
}
/*********************** Button *************************************/
/*button*/
button {
	float: right;
	color:#DFDFE9;
	padding: 5px 10px;
	width: 150px;
	width: 25%;
	min-width: 100px;
	margin-top: 50px;
	background: #334737;
	background: -webkit-linear-gradient(#668D6E,#334737) no-repeat;
	background: -moz-linear-gradient(#668D6E,#334737) no-repeat;
	background: -o-linear-gradient(#668D6E,#334737) no-repeat;
	background: -ms-linear-gradient(#668D6E,#334737) no-repeat;
	background: linear-gradient(#668D6E,#334737) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668D6E', endColorstr='#334737',GradientType=0 );

	-o-transition-property:color;
	-moz-transition-property:color;
	-webkit-transition-property:color;
	transition-property:color;

	-o-transition-property:background;
	-moz-transition-property:background;
	-webkit-transition-property:background;
	transition-property:background;

	-moz-transition-duration:1.5s;
	-o-transition-duration:1.5s;
	-webkit-transition-duration:1.5s;
	transition-duration:1.5s;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 7px 7px 5px #9B9B9E;
	-moz-box-shadow: 7px 7px 7px #9B9B9E;
	-o-box-shadow: 7px 7px 7px #9B9B9E;
	-ms-box-shadow: 7px 7px 7px #9B9B9E;
	box-shadow: 7px 7px 7px #9B9B9E;

	outline: none;
}
/*button hover*/
button:hover{
	background: #F2E0A0;
	color: #53324F;

	-webkit-box-shadow: 7px 7px 5px #9B9B9E;
	-moz-box-shadow: 7px 7px 7px #9B9B9E;
	-o-box-shadow: 7px 7px 7px #9B9B9E;
	-ms-box-shadow: 7px 7px 7px #9B9B9E;
	box-shadow: 7px 7px 7px #9B9B9E;
}
/*button active*/
button:active{
	background: #F0756E;
	color: #53324F;

}